<footer class="footer">
    <p>
        2000-2025
        <a href="https://github.com/wclee7" target="_blank" rel="noopener noreferrer">@wclee7</a>
        · Made with <span class="love">❤</span>
    </p>
</footer>

<!-- Particles.js -->
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<!-- Sweet Scroll -->
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>

<!-- Main JS -->
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>