<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{ site.username }}</span>
      <span class="site-description">{{ site.user_title }}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:urlover@hanmail.net" title="Email">
        <i class="icon fa-solid fa-envelope"></i>
      </a>
      <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/ubsonice/" rel="noopener noreferrer"
        title="Instagram">
        <i class="icon fa-brands fa-instagram"></i>
      </a>
      <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/leedwys" rel="noopener noreferrer"
        title="Facebook">
        <i class="icon fa-brands fa-facebook"></i>
      </a>
      <a aria-label="My LinkedIn" target="_blank"
        href="https://www.linkedin.com/in/%EC%9A%B0%EC%B2%A0-%EC%9D%B4-5795661b5/" rel="noopener noreferrer"
        title="LinkedIn">
        <i class="icon fa-brands fa-linkedin"></i>
      </a>
      <a aria-label="My Github" target="_blank" href="https://github.com/wclee7" rel="noopener noreferrer"
        title="GitHub">
        <i class="icon fa-brands fa-github"></i>
      </a>
      <a aria-label="My Bitbucket" target="_blank" href="https://bitbucket.org/dawondev/" rel="noopener noreferrer"
        title="Bitbucket">
        <i class="icon fa-brands fa-bitbucket"></i>
      </a>
      <a aria-label="My Blog" target="_blank" href="https://velog.io/@wclee7/posts" rel="noopener noreferrer"
        title="Velog Blog">
        <i class="icon fa-solid fa-blog"></i>
      </a>
    </div>
  </div>
  <a class="down" href="#about" data-scroll aria-label="Scroll down">
    <i class="icon fa-solid fa-chevron-down"></i>
  </a>
</div>